services:
  spark-master:
    build: .
    command: bin/spark-class org.apache.spark.deploy.master.Master
    container_name: spark_on_docker-spark-master-1
    ports:
      - "4040:4040"
      - "8080:8080"
      - "7077:7077"
    environment:
    - SPARK_MODE=master
    volumes:
      - /path/to/spark-defaults.conf:/opt/bitnami/spark/conf/spark-defaults.conf
      - ./app:/opt/bitnami/spark/app
      - ./datasets:/opt/bitnami/spark/app/datasets


  spark-worker-1:
    image: bitnami/spark:latest
    command: bin/spark-class org.apache.spark.deploy.worker.Worker spark://spark-master:7077
    container_name: spark_on_docker-node-1
    depends_on:
      - spark-master
    environment:
      SPARK_MODE: worker
      SPARK_WORKER_CORES: 2
      SPARK_WORKER_MEMORY: 2g
      SPARK_MASTER_URL: spark://spark-master:7077

  spark-worker-2:
    image: bitnami/spark:latest
    command: bin/spark-class org.apache.spark.deploy.worker.Worker spark://spark-master:7077
    container_name: spark_on_docker-node-2
    depends_on:
      - spark-master
    environment:
      SPARK_MODE: worker
      SPARK_WORKER_CORES: 2
      SPARK_WORKER_MEMORY: 2g
      SPARK_MASTER_URL: spark://spark-master:7077
